a {
  color: black;
}
a:visited {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

.left
{
        padding-left:25px;
}

halloween-body
{
        background-repeat: no-repeat;
        background-image: url("blooddrip.png");
        background-position: center;
        background-size: cover;
        
}
.fix {
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: -1;
}

.tree {
    width: 350px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .tree {
        width: 150px; 
    }
}