header
{
	background-color:#162732;
	color:white;
}
body
{
	background-color:#0ba3b2;
	color:white;
	font-family: 'Roboto', sans-serif;

}
a, a:link, a visited
{
	text-decoration: none;
	color:white;
}


.home_title
{
	font-family: 'Righteous', cursive;
	text-decoration-line: underline;

}
.home_button 
{
  background-color: #162732;
  color:white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 150px;
  height: 75px;
}
.home_buttons
{
	border: 1px;
	position: absolute;
	top: 150px;
	left: 15px;
}
.home_button_pressed
{
  background-color: #83ceff;
  color:white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  height: 75px;
}
.content_home
{
	border: 1px;
	color: white;
	position: absolute;
	top: 150px;
	left:25%;
}

.desktop
{
	height:450px;
	width:600px;
}

.whistler
{
	height:270.24px;
	width:480px;
}

.sp3
{
	height:327;
	Width:250;
}